.product-container{
    background-color: #FFF;
    width: calc(100% - 1rem);
    margin: .5rem auto .5rem auto;
    flex-grow: 1;
    padding: 0 1rem;
}
.top-title{
    padding: 0 .5rem;
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'Arial';
}


.product-box{
    padding: 0rem 1rem;
    flex-grow: 1;
}
.product-title {
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #CCC;
    margin-bottom: .5rem;
}
.product-title i{
    color: #68edf1;
    font-size: 1rem;
}
.product-title .title{
    padding: .5rem 0 .5rem 0;
    margin: 0;
    margin-left: .5rem;
    color: #0c3c6b;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Arial';
}
.form-group{
    margin-bottom: 1rem;
}
.form-group >label {
    margin-bottom: .5rem;
    color: #7b8eb0;
}
.form-group label span{
    color: red;
}
.form-group .form-control{
    background-color: #e8f0f7;
    border-color: transparent;
    position: relative;
    line-height: 1.1;
}
.form-group .form-select{
    background-image: linear-gradient(
45deg, transparent 50%, #5a3c6b 50%), linear-gradient(
135deg, #5a3c6b 50%, transparent 50%), linear-gradient(to right, #ccd6e2, #ccd6e2);
    background-position: calc(100% - 20px) calc(1em + -2px), calc(100% - 15px) calc(1em + -2px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
}
.form-group .form-select:disabled{
  opacity: .5;
}
.form-group .form-control:focus{
    box-shadow: none;
    border: 1px solid #4e9be2;
}

.search-btn{
    background-color: #02cbd1;
    font-weight: 500;
    color: #FFF;
    display: block;
    margin-left: auto;
    margin-right: 1rem;
}
.search-btn:disabled{
    background-color: #CCC;
    opacity: .65;

}
