.main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}




/* media */
@media (max-width:992px) {
    .top-nav .search-form{
        margin: 1rem auto;
        width: 95%;
    }
    .top-nav .navbar-nav{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
    }
    .top-nav .navbar-collapse.show{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}

@media (max-width:600px) {
    .top-nav .navbar-collapse.collapsing,
    .top-nav .navbar-collapse.show{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .top-nav .navbar-nav{
        margin-right: auto;

    }
}
