<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <a class="link d-flex flex-column align-items-center justify-content-center" data-bs-dismiss="modal" routerLink="/product">
          <img class="img-fluid" src="./assets/images/admin.svg" alt="">
          <span>Product</span>
        </a>
      </div>

    </div>
  </div>
</div>
